<h1> Welcome to the puppy adoption site!</h1>

<<<<<<< HEAD
<!-- <a href="/new">Click Here To List A Puppy</a> -->
<a href="/new">List a Puppy</a>
=======
<a href="/new">List A Puppy</a>
>>>>>>> 03e43d86da4754a4740fdc4c2e4767e4a2697c2c
